/*font*/

@font-face {
    font-family: 'TT Lakes Neue Trial';
    src: url(font/tt_lakes_neue/TT-Lakes-Neue-Trial-Regular.ttf);
    font-weight: 400;
}


@font-face {
    font-family: 'TT Lakes Neue Trial';
    src: url(font/tt_lakes_neue/TT-Lakes-Neue-Trial-Medium.ttf);
    font-weight: 500;
}


@font-face {
    font-family: 'TT Lakes Neue Trial';
    src: url(font/tt_lakes_neue/TT-Lakes-Neue-Trial-Bold.ttf);
    font-weight: 700;
}


/*root*/

:root {
    --pink-logo: #ff3e79;
    --grey-1: #f8f8f8;
    --grey-2: #7e7e82;
    --grey-3: #eaeaea;
    --black-links: #1B1C21;
    --blue-1: #d9fff5;
}



body {
    font-family: 'TT Lakes Neue Trial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
}


/*text styles*/

.header--brands {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--grey-2);
    margin: 0;
    padding-left: 32px;
}

.services__button {
    font-weight: 500;
}


/*layout*/


.services {
    max-width: 1120px;
    margin: 0 auto;
}

.services__header {
    background-image: linear-gradient(to right, var(--grey-1), white);
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid var(--blue-1);
}

.services__content {
    background: var(--grey-1);
    box-sizing: border-box;
    padding: 24px 32px;
    margin: 0 auto;
}

.services__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
    padding-bottom: 24px;
}

.services__grid--box img {
    display: block;
}

.services__grid--box {
    background: white;
    border: 1px solid var(--grey-3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 240px;
    min-height: 72px;
    box-sizing: border-box;
    padding: 0 16px;
}




/*button*/

.services__button {
    border: none;
    background: none;
    outline: none;
    display: inline-flex;
    align-items: center;
}

