/*font*/

@font-face {
    font-family: 'TT Lakes Neue Trial';
    src: url(font/tt_lakes_neue/TT-Lakes-Neue-Trial-Regular.ttf);
    font-weight: 400;
}


@font-face {
    font-family: 'TT Lakes Neue Trial';
    src: url(font/tt_lakes_neue/TT-Lakes-Neue-Trial-Medium.ttf);
    font-weight: 500;
}


@font-face {
    font-family: 'TT Lakes Neue Trial';
    src: url(font/tt_lakes_neue/TT-Lakes-Neue-Trial-Bold.ttf);
    font-weight: 700;
}


/*root*/

:root {
    --pink-logo: #ff3e79;
    --grey: #7e7e82;
    --black-links: #1B1C21;
}



body {
    font-family: 'TT Lakes Neue Trial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
}